<!DOCTYPE html>
<html>
<head>
	<title>cardly</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	{{{ body }}}
	<!-- js goes here -->
	<script type="text/javascript" src="javascripts/init.js"> </script>
</body>
</html>
