<div class="content">
	<div class="info">
		<h1>Remember every birthday</h1>
		<h2>Even the one you forgot</h2>
	</div>
	<div class="signup">
		<h3>Automatically mail personalized birthday and anniversary cards so you'll never miss a special day</h3>
		<form method="post" action="/signup">
			<fieldset>
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" value="{{name}}" />
			</fieldset>
			<fieldset>
				<label for="email">Email:</label>
				<input type="text" id="email" name="email" value="{{email}}" />
			</fieldset>
			{{#if errors}}
				{{#each errors}}
					<p class="error">{{msg}} </p>
				{{/each}}
			{{/if}}
			<fieldset>
				<input type="submit" id="signup" name="signup"  value="Get Notified When We Launch" />
			</fieldset>
		</form>
	</div>
	<div style="clear: both;"></div>
</div>
