	<h1>hello home</h1>
	<div>
		<form method="post" action="/">
			<fieldset>
				<lable for="name">Name:</lable>
				<input type="text" id="name" name="name" />
			</fieldset>
			<fieldset>
				<lable for="email">Email:</lable>
				<input type="text" id="email" name="email" />
			</fieldset>
			<fieldset>
				<input type="submit" id="signup" name="signup"  value="Sign Me Up!" />
			</fieldset>
		</form>
	</div>
